<%- include('partials/header.ejs') %>

    <div class="flex flex-col items-center bg-slate-300 min-h-screen">
        <div class="w-full flex flex-col items-center bg-gradient-to-b from-slate-300 to-white">


            <!-- Content Section -->
            <div class="flex flex-col items-center space-y-8 mt-12 mb-24">

                <!-- Title -->
                <div class="w-full text-center text-4xl font-extrabold text-slate-700 font-['Orbitron'] my-2">Blood
                    Tests
                </div>

                <!-- Overview Card -->
                <div class="flex flex-col bg-white rounded-3xl p-5 w-96">
                    <div class="text-xl font-extrabold text-slate-600 font-['Orbitron'] mb-4">Overview</div>
                    <div class="flex flex-wrap justify-evenly items-center">
                        <div id="immunity" class="flex flex-col items-center bg-red-100 rounded-3xl p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">immunology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Immunity</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="kidney" class="flex flex-col items-center bg-red-100 rounded-3xl p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">nephrology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Kidney</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="hematology" class="flex flex-col items-center bg-red-100 rounded-3xl p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">hematology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Hematology</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="liver" class="flex flex-col items-center bg-red-100 rounded-3xl p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">emergency</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Liver</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                    </div>
                </div>

                <!-- CBC Section -->
                <div class="swiper-container overflow-hidden relative w-full max-w-sm">
                    <div class="swiper-wrapper">
                        <!-- CBC Summary -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6 space-y-2">
                                <p class="text-xl font-bold text-gray-600 mb-6">CBC Summary</p>
                                <div class="flex justify-between mb-2">
                                    <div class="text-left w-1/2 text-lg font-semibold text-gray-600">Last 7 days</div>
                                    <div class="text-right w-1/2 text-lg font-semibold text-gray-600">Today's Value</div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="wbc-sparkline" class="sparkline"></div>
                                    <div id="wbc-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="rbc-sparkline" class="sparkline"></div>
                                    <div id="rbc-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="platelets-sparkline" class="sparkline"></div>
                                    <div id="platelets-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                            </div>
                        </div>
                        <!-- WBC Chart and Text -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">White Blood Cells Counts</p>
                                    <h5 id="wbc-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="wbc-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- RBC Chart and Text -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Red Blood Cells Counts</p>
                                    <h5 id="rbc-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="rbc-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Platelets Chart and Text -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Platelets Counts</p>
                                    <h5 id="platelets-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="platelets-chart" class="mt-4"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination relative mt-2"></div>
                </div>


                <!-- Blood Chemistry Card -->
                <div class="swiper-container overflow-hidden relative w-full max-w-sm">
                    <div class="swiper-wrapper">
                        <!-- Blood Chemistry Summary -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6 space-y-2">
                                <p class="text-xl font-bold text-gray-600 mb-6">Blood Chemistry Summary</p>
                                <div class="flex justify-between mb-2">
                                    <div class="text-left w-1/2 text-lg font-semibold text-gray-600">Last 7 days</div>
                                    <div class="text-right w-1/2 text-lg font-semibold text-gray-600">Today's Value</div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="glucose-sparkline" class="sparkline"></div>
                                    <div id="glucose-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="calcium-sparkline" class="sparkline"></div>
                                    <div id="calcium-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="kidney-markers-sparkline" class="sparkline"></div>
                                    <div class="flex flex-col text-right">
                                        <div id="bun-summary-count" class="text-lg font-semibold text-gray-600"></div>
                                        <div id="creatinine-summary-count" class="text-lg font-semibold text-gray-600"></div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="liver-markers-sparkline" class="sparkline"></div>
                                    <div class="flex flex-col text-right">
                                        <div id="alt-summary-count" class="text-lg font-semibold text-gray-600 grow"></div>
                                        <div id="ast-summary-count" class="text-lg font-semibold text-gray-600 grow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Glucose Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Glucose Counts</p>
                                    <h5 id="glucose-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="glucose-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Calcium Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Calcium Counts</p>
                                    <h5 id="calcium-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="calcium-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Kidney Function Markers Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Kidney Markers</p>
                                    <h5 id="bun-count" class="leading-none text-normal font-semibold text-gray-600 mb-1"></h5>
                                    <h5 id="creatinine-count" class="leading-none text-normal font-semibold text-gray-600"></h5>
                                </div>
                                <div id="kidney-markers-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Liver Function Tests Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Liver Markers</p>
                                    <h5 id="alt-count" class="leading-none text-normal font-semibold text-gray-600 mb-1"></h5>
                                    <h5 id="ast-count" class="leading-none text-normal font-semibold text-gray-600"></h5>
                                </div>
                                <div id="liver-markers-chart" class="mt-4"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination relative mt-2"></div>
                </div>

                <!-- Lipid Panel Card -->
                <div class="swiper-container overflow-hidden relative w-full max-w-sm">
                    <div class="swiper-wrapper">
                        <!-- Lipid Panel Summary -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6 space-y-2">
                                <p class="text-xl font-bold text-gray-600 mb-6">Lipid Panel Summary</p>
                                <div class="flex justify-between mb-2">
                                    <div class="text-left w-1/2 text-lg font-semibold text-gray-600">Last 7 days</div>
                                    <div class="text-right w-1/2 text-lg font-semibold text-gray-600">Today's Value</div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="total-cholesterol-sparkline" class="sparkline"></div>
                                    <div id="total-cholesterol-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="ldl-cholesterol-sparkline" class="sparkline"></div>
                                    <div id="ldl-cholesterol-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="hdl-cholesterol-sparkline" class="sparkline"></div>
                                    <div id="hdl-cholesterol-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                                <div class="flex items-center justify-between pt-2 border-t-2">
                                    <div id="tri-cholesterol-sparkline" class="sparkline"></div>
                                    <div id="tri-cholesterol-summary-count" class="text-right w-1/2 text-lg font-semibold text-gray-600 grow"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Total Cholesterol Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Total Cholesterol Counts</p>
                                    <h5 id="total-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="total-cholesterol-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- LDL Cholesterol Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">LDL Cholesterol Counts</p>
                                    <h5 id="ldl-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="ldl-cholesterol-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- HDL Cholesterol Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">HDL Cholesterol Counts</p>
                                    <h5 id="hdl-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="hdl-cholesterol-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Triglycerides Section -->
                        <div class="swiper-slide">
                            <div class="max-w-sm w-full bg-white rounded-3xl shadow p-4 mb-4 md:p-6">
                                <div class="flex flex-col">
                                    <p class="text-normal font-bold text-gray-600 mb-2">Triglycerides Counts</p>
                                    <h5 id="tri-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                                </div>
                                <div id="tri-cholesterol-chart" class="mt-4"></div>
                            </div>
                        </div>
                        <!-- Pie Chart and Text -->
                        <div class="swiper-slide">
                            <div class="flex items-center mt-5">
                                <div id="pie-cholesterol-chart" class="chart"></div>
                                <div class="flex flex-col items-center ml-4">
                                    <div id="pie-cholesterol-count" class="text-2xl font-semibold text-slate-600 font-['Orbitron']">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination relative mt-2"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include('partials/bottomNav.ejs') %>

    <script>
        // Initialize Swiper
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: false,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <%- include('bloodPageCBC.ejs') %>
    <%- include('bloodPageChemistry.ejs') %>
    <%- include('bloodPageLipid.ejs') %>
</body>

</html>