<%- include('partials/header.ejs') %>

    <div class="flex flex-col items-center bg-slate-300 min-h-screen">
        <div class="w-full flex flex-col items-center bg-gradient-to-b from-slate-300 to-white">


            <!-- Content Section -->
            <div class="flex flex-col items-center space-y-8 mt-12 mb-24">

                <!-- Title -->
                <div class="w-full text-center text-4xl font-extrabold text-slate-700 font-['Orbitron'] my-2">Blood
                    Tests
                </div>

                <!-- Overview Card -->
                <div class="flex flex-col bg-white rounded-3xl p-5 w-96">
                    <div class="text-xl font-extrabold text-slate-600 font-['Orbitron'] mb-4">Overview</div>
                    <div class="flex flex-wrap justify-evenly items-center">
                        <div id="immunity" class="flex flex-col items-center bg-slate-100 rounded-lg p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">immunology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Immunity</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="kidney" class="flex flex-col items-center bg-slate-100 rounded-lg p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">nephrology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Kidney</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="hematology" class="flex flex-col items-center bg-slate-100 rounded-lg p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">hematology</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Hematology</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                        <div id="liver" class="flex flex-col items-center bg-slate-100 rounded-lg p-4">
                            <span class="text-6xl material-symbols-outlined text-red-700 mb-2">emergency</span>
                            <span class="text-lg font-semibold text-red-700 mb-2">Liver</span>
                            <span class="text-sm font-semibold text-red-700">Vulnerable</span>
                        </div>
                    </div>
                </div>

                <!-- CBC Card -->
                <div class="flex flex-col bg-white rounded-3xl p-5 w-96">
                    <div class="text-xl font-extrabold text-slate-600 font-['Orbitron'] mb-4">Complete Blood Count</div>
                    <!-- WBC Chart and Text -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">White Blood Cells Counts</p>
                            <h5 id="wbc-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                        </div>
                        <div id="wbc-chart" class="mt-4"></div>
                    </div>

                    <!-- RBC Chart and Text -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Red Blood Cells Counts</p>
                            <h5 id="rbc-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                        </div>
                        <div id="rbc-chart" class="mt-4"></div>
                    </div>

                    <!-- Platelets Chart and Text -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Platelets Counts</p>
                            <h5 id="platelets-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                        </div>
                        <div id="platelets-chart" class="mt-4"></div>
                    </div>
                </div>

                <!-- Blood Chemistry Card -->
                <div class="flex flex-col bg-white rounded-3xl p-5 w-96">
                    <div class="text-xl font-extrabold text-slate-600 font-['Orbitron'] mb-4">Blood Chemistry</div>
                    <!-- Glucose Section -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Glucose Counts</p>
                            <h5 id="glucose-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                        </div>
                        <div id="glucose-chart" class="mt-4"></div>
                    </div>
                    <!-- Calcium Section -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Calcium Counts</p>
                            <h5 id="calcium-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></h5>
                        </div>
                        <div id="calcium-chart" class="mt-4"></div>
                    </div>
                    <!-- Kidney Function Markers Section -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Kidney Markers</p>
                            <h5 id="bun-count" class="leading-none text-normal font-semibold text-gray-600 mb-1"></h5>
                            <h5 id="creatinine-count" class="leading-none text-normal font-semibold text-gray-600"></h5>
                        </div>
                        <div id="kidney-markers-chart" class="mt-4"></div>
                    </div>
                    <!-- Liver Function Tests Section -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Liver Markers</p>
                            <h5 id="alt-count" class="leading-none text-normal font-semibold text-gray-600 mb-1"></h5>
                            <h5 id="ast-count" class="leading-none text-normal font-semibold text-gray-600"></h5>
                        </div>
                        <div id="liver-markers-chart" class="mt-4"></div>
                    </div>
                </div>

                <!-- Lipid Panel Card -->
                <div class="flex flex-col bg-white rounded-3xl p-5 w-96">
                    <div class="text-xl font-extrabold text-slate-600 font-['Orbitron'] mb-4">Lipid Panel</div>
                    <!-- Total Cholesterol Chart and Text -->
                    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                        <div class="flex flex-col">
                            <p class="text-normal font-bold text-gray-600 mb-2">Total Cholesterol</p>
                            <h5 id="total-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2">
                        </div>
                        <div id="total-cholesterol-chart" class="mt-4"></div>
                    </div>
                </div>
                <!-- LDL Cholesterol Chart and Text -->
                <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                    <div class="flex flex-col">
                        <p class="text-normal font-bold text-gray-600 mb-2">LDL Cholesterol</p>
                        <div id="ldl-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></div>
                    </div>
                    <div id="ldl-cholesterol-chart" class="mt-4"></div>
                </div>
                <!-- HDL Cholesterol Chart and Text -->
                <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                    <div class="flex flex-col">
                        <p class="text-normal font-bold text-gray-600 mb-2">HDL Cholesterol</p>
                        <div id="hdl-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></div>
                    </div>
                    <div id="hdl-cholesterol-chart" class="mt-4"></div>
                </div>
                <!-- Triglycerides Chart and Text -->
                <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 mb-4 md:p-6">
                    <div class="flex flex-col">
                        <p class="text-normal font-bold text-gray-600 mb-2">Triglycerides</p>
                        <div id="tri-cholesterol-count" class="leading-none text-normal font-semibold text-gray-600 pb-2"></div>
                    </div>
                    <div id="tri-cholesterol-chart" class="mt-4"></div>
                </div>
                <!-- Pie Chart and Text -->
                <div class="flex items-center mt-5">
                    <div id="pie-cholesterol-chart" class="chart"></div>
                    <div class="flex flex-col items-center ml-4">
                        <div id="pie-cholesterol-count" class="text-2xl font-semibold text-slate-600 font-['Orbitron']">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <%- include('partials/bottomNav.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <%- include('bloodPageCBC.ejs') %>
            <%- include('bloodPageChemistry.ejs') %>
                <%- include('bloodPageLipid.ejs') %>
                    </body>
                    </html>