<%- include('partials/header.ejs') %>

<div class="p-4 font-[Orbitron] text-[#455780] font-bold bg-gradient-to-b from-[#D1D9E9] to-[#FCFEFE]">

  <h1 class="text-center py-2 text-4xl text-[#354666] font-extrabold">Edit Information</h1>

  <!-- Form div -->
  <div class="rounded-3xl shadow-lg px-2 py-4 my-4 mx-1 bg-[#FCFEFE]">
    <form id="editForm" method="post" class="max-w-sm mx-auto px-2">
      <!-- Gender Field -->
      <label for="gender" class="block mb-2 text-lg text-[#4f6495] dark:text-white">Your sex</label>
      <select id="gender" name="gender"
        class="mb-5 bg-gray-50 border border-gray-300 text-[#354666] text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    
        <option value="" <%=user.sex==="" ? "selected" : "" %>>Other</option>
        <option value="M" <%=user.sex==="M" ? "selected" : "" %>>Male</option>
        <option value="F" <%=user.sex==="F" ? "selected" : "" %>>Female</option>
      </select>

      <!-- Birthday Field -->
      <div class="mb-5">
        <label for="birthday" class="block mb-2 text-lg text-[#4f6495] dark:text-white">Your date of birth</label>
        <input type="date" id="birthday" name="birthday" value="<%= user.dob %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"/>
      </div>

      <!-- Weight Field -->
      <div class="mb-5">
        <label for="weight" class="block mb-2 text-lg text-[#4f6495] dark:text-white">Your weight (kg)</label>
        <input type="number" id="weight" name="weight" value="<%= user.weight %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=""/>
      </div>

      <!-- Height Field -->
      <div class="mb-5">
        <label for="height" class="block mb-2 text-lg text-[#4f6495] dark:text-white">Your height (cm)</label>
        <input type="number" id="height" name="height" value="<%= user.height %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="" />
      </div>

      <!-- Submit Button -->
      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-base w-full tracking-wider sm:w-auto px-5 py-3 my-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>

      </form>
    </div>

    <!-- Cancel Button -->
    <a href="/profile" type="button"
      class="text-center w-full underline text-gray-500 pt-2 pb-2 focus:text-gray-900 tracking-wider">Cancel</a>

</div>

<%- include('partials/bottomNav.ejs') %>