<%- include('partials/header.ejs') %>

  <div
    class="flex-grow flex justify-center items-center bg-gradient-to-b from-[#D1D9E9] to-[#FCFEFE] dark:bg-gray-900 mb-14">
    <!-- Edit profile form -->
    <form
      class="max-w-sm mx-auto flex flex-col justify-center items-center rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800 p-5"
      method="post" action="/edit_profile">
      <div class="mb-4">
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Edit Profile</h1>
      </div>

      <!-- Sex field -->
      <div class="text-sm w-full mb-4">
        <label for="gender" class="block mb-1 font-medium dark:text-white">Sex</label>
        <select id="gender" name="gender"
          class=" bg-gray-50 border border-gray-300 text-[#354666] text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="M" style="display:none;" <%=user.sex==="" ? "selected" : "" %>>Select</option>
          <option value="M" <%=user.sex==="M" ? "selected" : "" %>>Male</option>
          <option value="F" <%=user.sex==="F" ? "selected" : "" %>>Female</option>
        </select>
      </div>

      <!-- Date of birth field -->
      <div class="text-sm w-full mb-4">
        <label for="birthday" class="block mb-1 font-medium dark:text-white">Date of Birth</label>
        <input type="date" id="birthday" name="birthday" value="<%= user.dob %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com" required />
      </div>

      <!-- Weight field -->
      <div class="text-sm w-full mb-4">
        <label for="weight" class="block mb-1  font-medium dark:text-white">Weight (kg)</label>
        <input type="number" id="weight" name="weight" value="<%= user.weight %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="" data-input-counter data-input-counter-min="1" data-input-counter-max="1000" required />
      </div>

      <!-- Height field -->
      <div class="text-sm w-full mb-4">
        <label for="height" class="block mb-2 font-medium dark:text-white">Height (cm)</label>
        <input type="number" id="height" name="height" value="<%= user.height %>"
          class="bg-gray-50 border border-gray-300 text-[#354666] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="" data-input-counter data-input-counter-min="1" data-input-counter-max="1000" required />
      </div>

      <!-- Save button -->
      <div class="mx-10">
        <button type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
      </div>

      <!-- Cancel Button -->
      <a href="/profile" type="button"
        class="text-center w-full underline text-gray-500 pt-4 focus:text-gray-900 tracking-wider text-sm">Cancel</a>
    </form>

  </div>

  <%- include('partials/bottomNav.ejs') %>