<%- include('partials/header.ejs') %>

  <div class="p-4 font-[Orbitron] text-[#455780] font-bold bg-gradient-to-b from-[#D1D9E9] to-[#FCFEFE] mb-[70px]">

    <h1 class="text-center py-2 text-4xl font-[Orbitron] font-extrabold text-[#354666]">Profile</h1>

    <!-- Name, Email, and Implant ID card -->
    <div class="rounded-3xl shadow-lg px-3 mx-1 py-4 my-4 bg-[#FCFEFE]">
      <!-- name -->
      <div class="px-2">
        <p class="text-lg pb-1 text-[#4f6495]">Name</p>
        <p class="text-2xl font-semibold pl-2 text-[#354666]">
          <%= user.username %>
        </p>
      </div>
      <!-- email -->
      <div class="px-2 pt-4">
        <p class="text-lg pb-1 text-[#4f6495]">Email</p>
        <p class="text-2xl font-semibold pl-2 text-[#354666]">
          <%= user.email %>
        </p>
      </div>
      <!-- medical impant id -->
      <div class="px-2 pt-4">
        <p class="text-lg pb-1 text-[#4f6495]">Medical Implant ID</p>
        <p class="text-2xl font-semibold pl-2 text-[#354666]">
          <%= user.id %>
        </p>
      </div>
    </div>

    <!-- DOB, Sex, Weight, and Height card -->
    <div class="rounded-3xl shadow-lg px-1 pt-2 mx-1 mb-4 mt-6 bg-[#FCFEFE]">
      <!-- Edit Button -->
      <div class="flex items-center justify-end mt-2">
        <a href="/edit_profile" type="button"
          class="float-right text-blue-700 pt-0 pr-4 focus:text-blue-950 tracking-wider flex items-center justify-center">
          <span class="material-symbols-outlined text-lg">
            edit
          </span>
          <span class="ml-1">Edit</span>
        </a>
      </div>


      <!-- sex -->
      <div class="px-4">
        <p class="text-lg pb-1 text-[#4f6495]">Sex</p>
        <p class="text-2xl font-semibold pl-2 text-[#354666]">
          <%= user.sex %>
        </p>
      </div>
      <!-- birthday -->
      <div class="px-4 pt-4">
        <p class="text-lg pb-1 text-[#4f6495]">Birthday</p>
        <p class="text-2xl font-semibold pl-2 text-[#354666]">
          <%= user.dob %>
        </p>
      </div>
      <!-- Weight and Height inner card -->
      <div class="flex flex-row justify-around border-t px-3 mt-5 pb-6 rounded-3xl">
        <!-- weight -->
        <div class="px-2 pt-4">
          <p class="text-lg pb-1 text-[#4f6495]">Weight</p>
          <p class="text-2xl font-semibold pl-2 text-[#354666]">
            <%= user.weight %> kg
          </p>
        </div>
        <!-- height -->
        <div class="px-2 pt-4">
          <p class="text-lg pb-1 text-[#4f6495]">Height</p>
          <p class="text-2xl font-semibold pl-2 text-[#354666]">
            <%= user.height %> cm
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/bottomNav.ejs') %>