<% currentBPM=70%>
    <% currentTemp=37%>
        <% currentRRP=37%>
            <%- include('partials/header.ejs') %>
                <section class="my-auto bg-gradient-to-b from-[#D1D9E9] to-[#FCFEFE]">
                    <div class="mx-10">

                        <!-- notification card -->
                        <div class="py-4 ">
                            <div class="flex justify-evenly bg-white text-center shadow-lg rounded-full">
                                <span class="flex py-2 text-6xl material-symbols-outlined text-[#EA3323]">
                                    ecg_heart
                                </span>
                                <span class="flex py-2 text-6xl material-symbols-outlined text-[#EA3323]">
                                    device_thermostat
                                </span>
                            </div>
                        </div>

                        <div class="flex flex-col ">
                            <div class="rounded-lg  ">
                                <!-- bpm chart -->
                                <div class="mx-max max-w-md w-full bg-white rounded-lg dark:bg-gray-800 p-4 shadow-lg">
                                    <div class="flex justify-between mb-5">
                                        <div>
                                            <h5
                                                class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">
                                                BPM: <%= currentBPM %>
                                            </h5>
                                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">This week
                                            </p>
                                        </div>
                                    </div>
                                    <!-- actual chart -->
                                    <div id="bpm-chart" class=""></div>
                                </div>
                                <!-- body temp chart -->
                                <div class="pt-4">
                                    <div
                                        class="mx-max max-w-md w-full bg-white rounded-lg dark:bg-gray-800 p-4 shadow-lg">
                                        <div class="flex justify-between mb-5">
                                            <div>
                                                <h5
                                                    class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">
                                                    Temp: <%= currentTemp %> °
                                                </h5>
                                                <p class="text-base font-normal text-gray-500 dark:text-gray-400">This
                                                    week
                                                </p>
                                            </div>
                                        </div>
                                        <!-- actual chart -->
                                        <div id="temp-chart" class=""></div>
                                    </div>
                                </div>
                                <!-- RRP chart -->
                                <div class="py-4 mb-[100px]">
                                    <div
                                        class="mx-max max-w-md w-full bg-white rounded-lg dark:bg-gray-800 p-4 shadow-lg">
                                        <div class="flex justify-between mb-5">
                                            <div>
                                                <h5
                                                    class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">
                                                    RRP: <%= currentRRP %>
                                                </h5>
                                                <p class="text-base font-normal text-gray-500 dark:text-gray-400">This
                                                    week
                                                </p>
                                            </div>
                                        </div>
                                        <!-- actual chart -->
                                        <div id="breath-chart" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <script>
                    let bpmOptions = {
                        chart: {
                            height: "100%",
                            maxWidth: "100%",
                            type: "area",
                            fontFamily: "Inter, sans-serif",
                            dropShadow: {
                                enabled: false,
                            },
                            toolbar: {
                                show: false,
                            },
                        },
                        tooltip: {
                            enabled: true,
                            x: {
                                show: false,
                            },
                        },
                        fill: {
                            type: "gradient",
                            gradient: {
                                opacityFrom: 0.55,
                                opacityTo: 0,
                                shade: "#1C64F2",
                                gradientToColors: ["#1C64F2"],
                            },
                        },
                        dataLabels: {
                            enabled: false,
                        },
                        stroke: {
                            width: 6,
                        },
                        grid: {
                            show: false,
                            strokeDashArray: 4,
                            padding: {
                                left: 2,
                                right: 2,
                                top: 0
                            },
                        },
                        series: [
                            {
                                name: "Current Temperature",
                                data: [72, 74, 76, 78, 76, 75, 74, 76, 78, 80], color: "#1A56DB",
                                color: "#1A56DB",
                            },
                        ],
                        xaxis: {
                            categories: ["12:00 PM", "12:01 PM", "12:02 PM", "12:03 PM", "12:04 PM", "12:05 PM", "12:06 PM", "12:07 PM", "12:08 PM", "12:09 PM"],
                            labels: {
                                show: false,
                            },
                            axisBorder: {
                                show: false,
                            },
                            axisTicks: {
                                show: false,
                            },
                        },
                        yaxis: {
                            show: false,
                            min: 50,
                        },
                    }

                    let tempOptions = {
                        chart: {
                            height: "100%",
                            maxWidth: "100%",
                            type: "area",
                            fontFamily: "Inter, sans-serif",
                            dropShadow: {
                                enabled: false,
                            },
                            toolbar: {
                                show: false,
                            },
                        },
                        tooltip: {
                            enabled: true,
                            x: {
                                show: false,
                            },
                        },
                        fill: {
                            type: "gradient",
                            gradient: {
                                opacityFrom: 0.55,
                                opacityTo: 0,
                                shade: "#1C64F2",
                                gradientToColors: ["#1C64F2"],
                            },
                        },
                        dataLabels: {
                            enabled: false,
                        },
                        stroke: {
                            width: 6,
                        },
                        grid: {
                            show: false,
                            strokeDashArray: 4,
                            padding: {
                                left: 2,
                                right: 2,
                                top: 0
                            },
                        },
                        series: [
                            {
                                name: "Current Temperature",
                                data: [36.5, 36.7, 36.4, 36.8, 36.6, 36.5, 36.9, 36.7, 36.5, 36.6],
                                color: "#1A56DB",
                            },
                        ],
                        xaxis: {
                            categories: ["12:00 PM", "12:01 PM", "12:02 PM", "12:03 PM", "12:04 PM", "12:05 PM", "12:06 PM", "12:07 PM", "12:08 PM", "12:09 PM"],
                            labels: {
                                show: false,
                            },
                            axisBorder: {
                                show: false,
                            },
                            axisTicks: {
                                show: false,
                            },
                        },
                        yaxis: {
                            show: false,
                            min: 35,
                        },
                    }

                    let breathOptions = {
                        chart: {
                            height: "100%",
                            maxWidth: "100%",
                            type: "area",
                            fontFamily: "Inter, sans-serif",
                            dropShadow: {
                                enabled: false,
                            },
                            toolbar: {
                                show: false,
                            },
                        },
                        tooltip: {
                            enabled: true,
                            x: {
                                show: false,
                            },
                        },
                        fill: {
                            type: "gradient",
                            gradient: {
                                opacityFrom: 0.55,
                                opacityTo: 0,
                                shade: "#1C64F2",
                                gradientToColors: ["#1C64F2"],
                            },
                        },
                        dataLabels: {
                            enabled: false,
                        },
                        stroke: {
                            width: 6,
                        },
                        grid: {
                            show: false,
                            strokeDashArray: 4,
                            padding: {
                                left: 2,
                                right: 2,
                                top: 0
                            },
                        },
                        series: [
                            {
                                name: "Current Temperature",
                                data: [16, 17, 18, 19, 20, 19, 18, 17, 16, 15],
                                color: "#1A56DB",
                            },
                        ],
                        xaxis: {
                            categories: ["12:00 PM", "12:01 PM", "12:02 PM", "12:03 PM", "12:04 PM", "12:05 PM", "12:06 PM", "12:07 PM", "12:08 PM", "12:09 PM"],
                            labels: {
                                show: false,
                            },
                            axisBorder: {
                                show: false,
                            },
                            axisTicks: {
                                show: false,
                            },
                        },
                        yaxis: {
                            show: false,
                            min: 10,
                        },
                    }

                    const bpmChart = new ApexCharts(document.getElementById("bpm-chart"), bpmOptions);
                    const tempChart = new ApexCharts(document.getElementById("temp-chart"), tempOptions);
                    const breathChart = new ApexCharts(document.getElementById("breath-chart"), breathOptions);

                    let bmpSeries = [72, 74, 76, 78, 76];
                    let tempSeries = [36.5, 36.7, 36.4, 36.8, 36.6];
                    let breathSeries = [16, 17, 18, 19, 20];

                    bpmChart.render();
                    tempChart.render();
                    breathChart.render();

                    /**
                     * Updates each of the series with a new value, then pushes the new value to the end of the series and removes the first value.
                     */
                    function updateSeries() {
                        let newBpmValue = Math.round((bmpSeries[bmpSeries.length - 1] + Math.random() * 3 - 1) * 10) / 10;
                        bmpSeries.push(newBpmValue);
                        bmpSeries.shift();
                        bpmChart.updateSeries([{ data: bmpSeries }]);


                        let newTempValue = Math.round((tempSeries[tempSeries.length - 1] + (Math.random() * 0.2 - 0.1)) * 10) / 10;
                        tempSeries.push(newTempValue);
                        tempSeries.shift();
                        tempChart.updateSeries([{ data: tempSeries }]);


                        let newBreathValue = Math.round((breathSeries[breathSeries.length - 1] + Math.random() * 3 - 1) * 10) / 10;
                        breathSeries.push(newBreathValue);
                        breathSeries.shift();
                        breathChart.updateSeries([{ data: breathSeries }]);
                    }

                    setInterval(updateSeries, 2000);
                </script>

                <%- include('partials/bottomNav') %>